.gameTable {
	width: 100%;
	border-collapse: collapse;
	font-family: Arial, sans-serif;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	padding: 10px;
	margin-top: 5vh; /* Reduce top margin for smaller screens */
}

.gameTableColumn {
	text-align: left;
	padding: 12px;
	border-bottom: 1px solid #ddd;
	width: 25%;
}

.teamLogo {
	width: 30px;
	height: 30px;
	object-fit: contain;
}

/* Add responsive styles for mobile */
@media (max-width: 768px) {
	.gameTable {
		width: 100vw;
		margin-left: 50%;
		transform: translateX(-50%);
		margin-top: 2vh; /* Reduce top margin further */
	}

	.gameTableColumn {
		padding: 12px; /* Touch-friendly padding */
		width: auto; /* Allow columns to adjust dynamically */
		font-size: 16px; /* Prevent auto-zoom on iOS */
	}
}
